
@using (Ajax.BeginForm("Index", "Home", FormMethod.Post,
                new AjaxOptions
                {
                    HttpMethod = "POST",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "display"
                }))
{
    <button type="button" class="btn btn-default" value="click">CLICK ME</button>
}