
@using (Ajax.BeginForm("Index", "Home", FormMethod.Post,
    new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "display"
    }))
{
    <div id="display"></div>
    <button class="fa fa-search" type="submit" value="click">CLICK ME</button>
}
