
@using (Ajax.BeginForm("Index", "Home", FormMethod.Post,
    new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "display"
    }))
{
    <button class="fa fa-search btn btn-danger" type="submit" value="click">BIG RED BUTTON</button>
    <div id="display"></div>
}
