@{
    ViewBag.Title = "Home Page";
}

<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>

<div class="jumbotron">
    <h1 class="text-center"></h1>
</div>

@Html.Partial("_IndexViewPartial")

<br />

<div id="display"></div>

<br />

@Ajax.ActionLink(
    "Search Users",
    "Search",
    "Home",
    new AjaxOptions { UpdateTargetId = "user-search" }
)

<div id="user-search"></div>

<br />

@Ajax.ActionLink(
    "Add New User",
    "Add",
    "Home",
    new AjaxOptions {  UpdateTargetId = "user-add"}
)

<br />

<div id="user-add"></div>
