@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Home Page</h1>
    <p class="lead">I want this page to change when I push a button..</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Here are the things I want to change when the button is pushed!</h2>
        <p>
           I could also change these things. 
        </p>
    
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
</div>